/* CSS */
.button-53 {
    background-color: #1F2546;
    border: 0 solid #E5E7EB;
    box-sizing: border-box;
    color: #F8ECE1;
    display: flex;
    font-family: ui-sans-serif, system-ui, -apple-system, system-ui, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
    font-size: 1rem;
    font-weight: 700;
    justify-content: center;
    line-height: 1.75rem;
    padding: .75rem 1.65rem;
    position: relative;
    text-align: center;
    text-decoration: none #000000 solid;
    text-decoration-thickness: auto;
    width: 100%;
    max-width: 200px;
    position: relative;
    cursor: pointer;
    transform: rotate(-2deg);
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
}

.button-53:focus {
    outline: 0;
}

.button-53:after {
    content: '';
    position: absolute;
    border: 1px solid #000000;
    bottom: 4px;
    left: 4px;
    width: calc(100% - 1px);
    height: calc(100% - 1px);
}

.button-53:hover:after {
    bottom: 2px;
    left: 2px;
}

@media (min-width: 768px) {
    .button-53 {
        padding: .75rem 3rem;
        font-size: 1.25rem;
    }
}

/* CSS */
.button-56 {
    color: #ffb636;
    background-color: #6a3bd3;
    box-sizing: border-box;
    font-family: ui-sans-serif, system-ui, -apple-system, system-ui, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
    font-size: 1rem;
    font-weight: 700;
    align-items: center;
    border-radius: 8px;
    box-sizing: border-box;
    cursor: pointer;
    display: flex;
    font-family: Inter, sans-serif;
    font-size: 16px;
    height: 48px;
    justify-content: center;
    line-height: 24px;
    max-width: 100%;
    padding: 0 25px;
    position: relative;
    text-align: center;
    text-decoration: none;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
}

.button-56:after {
    color: #6a3bd3;
    background-color: #ffb636;
    border-radius: 8px;
    content: "";
    display: block;
    height: 48px;
    left: 0;
    width: 100%;
    position: absolute;
    top: -2px;
    transform: translate(8px, 8px);
    transition: transform .2s ease-out;
    z-index: -1;
}

.button-56:hover:after {
    transform: translate(0, 0);
}

.button-56:active {
    color: #6a3bd3;
    background-color: #ffb636;
    outline: 0;
}

.button-56:hover {
    outline: 0;
}

@media (min-width: 768px) {
    .button-56 {
        padding: 0 40px;
    }
}

.button-56:disabled {
    background-color: #1F2546;
    color: #d3d3d3;
    font-family: ui-sans-serif, system-ui, -apple-system, system-ui, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
    font-size: 1.2rem;
    font-weight: 700;
    cursor: no-drop;
}

@keyframes rotation {
    from {
        transform: rotate(0deg);
    }

    to {
        transform: rotate(359deg);
    }
}

.linear {
    animation-timing-function: linear;
}

/* unvisited link */
a:link {
    color: #0065C4;
}

/* visited link */
a:visited {
    color: #0065C4;
}

/* mouse over link */
a:hover {
    color: #ffb636;
}

/* selected link */
a:active {
    color: blue;
}

/* gradient border */
.module-border-wrap {
    border: 2px solid transparent;
    border-image: radial-gradient(#F8ECE1, #1F2546) 1;
    border-image-slice: 1;
    padding: 7px;
}


/************** Tool Tip Styles ********************************/
.tool-tip {
    display: inline-block;
    position: relative;
    margin-left: 0.5em;
}

.tool-tip .tool-tip__icon {
    background: #27b1f0;
    border-radius: 10px;
    cursor: pointer;
    display: inline-block;
    font-style: italic;
    font-family: times new roman;
    height: 20px;
    line-height: 1.3em;
    text-align: center;
    width: 20px;
}

.tool-tip .tool-tip__info {
    display: none;
    background: #262626;
    border: 1px solid #27b1f0;
    border-radius: 3px;
    font-size: 0.875em;
    padding: 1em;
    position: absolute;
    left: 30px;
    top: -20px;
    width: 250px;
    z-index: 2;
}

.tool-tip .tool-tip__info:before, .tool-tip .tool-tip__info:after {
    content: "";
    position: absolute;
    left: -10px;
    top: 7px;
    border-style: solid;
    border-width: 10px 10px 10px 0;
    border-color: transparent #27b1f0;
}

.tool-tip .tool-tip__info:after {
    left: -8px;
    border-right-color: #262626;
}

.tool-tip .tool-tip__info .info {
    display: block;
}

.tool-tip .tool-tip__info .info__title {
    color: #fa00f3;
}

.tool-tip:hover .tool-tip__info, .tool-tip:focus .tool-tip__info {
    display: inline-block;
}

a:focus+.tool-tip .tool-tip__info {
    display: inline-block;
}

/******* Styles just to make it look a little better *******/
body {
    background-color: #262626;
    color: #ffffff;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}

article {
    background: #414141;
    border-radius: 5px;
    padding: 1em;
    margin: 1em;
}

i {
    font-style: normal;
}

a {
    color: white;
    text-decoration: none;
}

a:hover,
a:focus {
    text-decoration: underline;
}

li {
    margin: 5px 0;
}